@layout WebsiteLayout
@page "/About"
@inject IStringLocalizer<Resources.Resource> L
<h3>@L["About"]</h3>
<h4>Valkian Technologies, SL</h4>
<p>CIF: B55388334</p>
<p>C/ El Abeto 119</p>
<p>Urbanización El Olmillo</p>
<p>Loranca de Tajuña</p>
<p>19141 - Guadalajara</p>
<p>@L["Spain"]</p>
<h6>VALKIAN TECHNOLOGIES, S.L. Inscrito con el CIF B55388334 en la Administración Número 1 de Guadalajara con el Cód. CIRCE 074659280N el 13 de mayo de 2024.</h6>
@code {

}
