@page "/Privacy"
<h3>Política de Privacidad</h3>
<table cellpadding="2">
    <h3>Datos del propietario de la web:</h3>
    <tr>
        <td class="bg-primary text-white">RAZÓN SOCIAL</td>
        <td style="padding-left:20px;">VALKIAN TECHNOLOGIES, S.L.</td>
    </tr>
    <tr>
        <td class="bg-primary text-white">CIF</td>
        <td style="padding-left:20px;">B55388334</td>
    </tr>
    <tr>
        <td class="bg-primary text-white">DIRECCIÓN POSTAL</td>
        <td style="padding-left:20px;">
            CALLE EL ABETO, 119, URB EL OLMILLO 19141 (GUADALAJARA)
            GUADALAJARA
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            DIRECCIÓN ELECTRÓNICA
        </td>
        <td style="padding-left:20px;">
            gcastro@valkian.eu
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">TELÉFONO</td>
        <td style="padding-left:20px;">+34 634 954 370</td>
    </tr>
</table>
<p>
    La presente Política de Privacidad y de conformidad con la normativa vigente y aplicable en
    protección de datos de carácter personal, establece la forma en que se recopila, utiliza, mantiene
    y divulga la información obtenida de los usuarios (en adelante, "usted" o "el usuario") que visitan
    y utilizan nuestro sitio web oficial de VALKIAN TECHNOLOGIES, S.L. (en adelante, "el Sitio").
</p>
<p>
    Para aquellos tratamientos que lo requieran, se informa también de la posible elaboración de
    perfiles y decisiones automatizadas, así como las posibles cesiones y las transferencias
    internacionales que VALKIAN TECHNOLOGIES, S.L. tiene previsto realizar:
</p>
<table cellpadding="2">
    <tr>
        <td colspan="2"><h3>TRATAMIENTOS REALIZADOS</h3></td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            Gestión de la
            página web
        </td>
        <td style="padding-left:20px;">
            Finalidad: Tratamiento y gestión de los datos necesarios para la funcionalidad
            de la página web
            Plazo de conservación: mientras perdure el consentimiento prestado
            Base legítima: El consentimiento del interesado Tipología de Datos: Datos
            meramente identificativos
            Cesiones: No se prevén
            Transferencias internacionales: No se prevén
            Elaboraciones de perfiles: No se prevén
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            Formulario
            web
        </td>
        <td style="padding-left:20px;">
            Finalidad: Atender sus consultas y/o solicitudes
            Plazo de conservación: mientras se mantenga el consentimiento prestado.
            Base legítima: El consentimiento del interesado
            Tipología de Datos: Datos meramente identificativos
            Cesiones: Ninguna
            Transferencias internacionales: No se prevén
            Elaboraciones de perfiles: No se prevén
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            Gestión del
            cumplimiento
            normativo
        </td>
        <td style="padding-left:20px;">
            Finalidad: Gestión y tramitación de las obligaciones y deberes que se deriven
            del cumplimiento de la normativa a la cual está sujeta la entidad
            Plazo de conservación: conservación de las copias de los documentos hasta
            que prescriban las acciones para reclamarle una posible responsabilidad
            Base legítima: El cumplimiento de una ley
            Tipología de Datos: Datos meramente identificativos
            Cesiones: sus datos serán comunicados en caso de ser necesario a
            Organismos y/o administración pública con competencia en la materia con la
            finalidad de cumplir con las obligaciones establecidas en la normativa aplicable.
            Además, se informa que la base legitimadora de la cesión es cumplir con las
            obligaciones establecidas en la normativa aplicable
            Transferencias internacionales: No se prevén
            Elaboraciones de perfiles: No se prevén
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            Acciones
            Comerciales
        </td>
        <td style="padding-left:20px;">
            Finalidad: Captación, registro y tratamiento de datos con finalidades de
            publicidad y prospección comercial de nuestros productos y/o servicios
            Plazo de conservación: mientras se mantenga el consentimiento prestado
            Base legítima: El consentimiento del interesado
            Tipología de Datos: Datos meramente
            identificativos Cesiones: Ninguna
            Transferencias internacionales: No se prevén
            Elaboraciones de perfiles: No se prevén
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            Registro de
            los usuarios
        </td>
        <td style="padding-left:20px;">
            Finalidad: Captación, registro y tratamiento de datos para poder registrarse
            como usuario
            Plazo de conservación: mientras perdure el consentimiento prestado
            Base legítima: El consentimiento del interesado
            Tipología de Datos: Datos meramente identificativos
            Cesiones: No se prevén
            Transferencias internacionales: No se prevén
            Elaboraciones de perfiles: No se prevén
        </td>
    </tr>
    <tr>
        <td class="bg-primary text-white">
            Gestión
            económica y
            administrativa
        </td>
        <td style="padding-left:20px;">
            Finalidad: Gestión administrativa, facturación, contabilidad y obligaciones
            legales
            Plazo de conservación: 5 años en cumplimiento de la ley tributaria y 10 años
            la documentación fiscal en cumplimiento de la L.O.7/2012
            Base legítima: El consentimiento del interesado
            Tipología de Datos: Datos meramente identificativos
            Cesiones: sus datos serán comunicados en caso de ser necesario a Agencia
            Tributaria, Bancos, Cajas y Organismos y/o administración pública con
            competencia en la materia con la finalidad de cumplir con las obligaciones
            tributarias y fiscales establecidas en la normativa aplicable. Además, se
            informa que la base legitimadora de la cesión es cumplir con las obligaciones
            establecidas en la normativa aplicable
            Transferencias internacionales: No se prevén
            Elaboraciones de perfiles: No se prevén
        </td>
    </tr>
</table>
<h3>1. Información que recopilamos</h3>
<p>
    VALKIAN TECHNOLOGIES, S.L. puede recopilar información personal identificable de los
    usuarios de diferentes maneras, incluyendo, pero no limitándose a:
</p>
<p>
    a. Información proporcionada voluntariamente: Podemos recopilar información
    personal identificable, como su nombre, dirección de correo electrónico, número de
    teléfono u otra información que usted elija proporcionarnos voluntariamente al completar
    formularios en el Sitio.
</p>
<p>
    b. Información recopilada automáticamente: Nuestro Sitio puede recopilar información
    técnica y no personal identificable automáticamente cuando usted lo visita. Esta
    información puede incluir la dirección IP del dispositivo, el tipo de navegador, el
    proveedor de servicios de Internet (ISP), las páginas de referencia/salida, el sistema
    operativo, la fecha y hora, y otros datos similares.
</p>
<h3>2. Uso de la información recopilada</h3>
<p>
    VALKIAN TECHNOLOGIES, S.L. puede utilizar la información personal identificable de los
    usuarios para los siguientes propósitos:
</p>
<p>
    a. Mejorar nuestros servicios: La información que usted proporciona nos ayuda a
    responder de manera más efectiva a sus solicitudes de servicio y a sus necesidades
    individuales
</p>
<p>
    b. Personalizar su experiencia: Podemos utilizar la información para comprender cómo
    los usuarios utilizan los servicios y los recursos proporcionados en nuestro Sitio, con el
    fin de mejorar su experiencia.
</p>
<p>
    c. Enviar correos electrónicos periódicos: Podemos utilizar la dirección de correo
    electrónico proporcionada por los usuarios para enviar información y actualizaciones
    relacionadas con sus solicitudes, consultas y otros asuntos relacionados con los
    servicios de VALKIAN TECHNOLOGIES, S.L.
</p>
<p>
    d. También podemos utilizarla para responder a sus preguntas, comentarios o consultas.
</p>
<h3>
    3. Protección de la información
</h3>
<p>
    VALKIAN TECHNOLOGIES, S.L. adopta las medidas de seguridad adecuadas para proteger la
    información personal identificable de los usuarios contra el acceso no autorizado, la alteración,
    la divulgación o la destrucción.
</p>
<h3>
    4. Divulgación de información a terceros
</h3>
<p>
    VALKIAN TECHNOLOGIES, S.L. no venderá, intercambiará ni alquilará la información personal
    identificable de los usuarios a terceros. Sin embargo, podemos compartir información
    demográfica agregada y no personal identificable con socios confiables para los fines
    mencionados anteriormente.
</p>
<p>
    También podemos divulgar información personal identificable en respuesta a una orden judicial
    u otra solicitud legal válida, o si creemos de buena fe que dicha divulgación es necesaria para
    cumplir con la ley o proteger los derechos, la propiedad o la seguridad de VALKIAN
    TECHNOLOGIES, S.L. sus empleados o el público en general.
</p>
<h3>5. Cambios en esta política de privacidad</h3>
<p>
    VALKIAN TECHNOLOGIES, S.L. se reserva el derecho de actualizar esta Política de Privacidad
    en cualquier momento. Al utilizar el Sitio, usted acepta y acuerda que es su responsabilidad
    revisar periódicamente esta política y estar al tanto de las modificaciones.
</p>
<h3>6. Aceptación de los términos</h3>
<p>
    Al utilizar nuestro Sitio, usted indica su aceptación de esta Política de Privacidad. Si no está de
    acuerdo con esta política, le recomendamos que no utilice nuestro Sitio. Su uso continuado del
    Sitio después de la publicación de cambios en esta política se considerará como su aceptación
    de dichos cambios.
</p>
<p>
    Si tiene alguna pregunta sobre esta Política de Privacidad o sus prácticas, por favor contáctenos
    a través de los canales de comunicación proporcionados en el Sitio.
</p>
<h3>
    7. Derechos de los interesados
</h3>
<p>
    VALKIAN TECHNOLOGIES, S.L. informa a los Usuarios que, podrá ejercer los derechos de
    acceso, rectificación, limitación, supresión, portabilidad y oposición al tratamiento de sus datos
    de carácter personal ante el responsable del Tratamiento, así como a la retirada del
    consentimiento prestado.
</p>
<p>
    • Derecho de Acceso: Es el derecho del usuario a obtener información sobre sus datos
    concretos de carácter personal y del tratamiento que se haya realizado o realice, así
    como de la información disponible sobre el origen de dichos datos y las comunicaciones
    realizadas o previstas de los mismos.
</p>
<p>
    • Derecho de Rectificación: Es el derecho del afectado a que se modifiquen los datos
    que resulten ser inexactos o incompletos. Sólo podrá satisfacerse en relación a aquella
    información que se encuentre bajo el control de la APP, por ejemplo, eliminar comentarios
    publicados en la propia página, imágenes o contenidos web donde consten datos de
    carácter personal del usuario.
</p>
<p>
    • Derecho a la Limitación de tratamiento: Es el derecho a que se limiten los fines del
    tratamiento previstos de forma original por el responsable del tratamiento
</p>
<p>
    • Derecho de Supresión: Es el derecho a suprimir los datos de carácter personal del
    usuario, a excepción de lo previsto en el propio RGPD o en otras normativas aplicables
</p>
<p>
    • Derecho de portabilidad: El derecho a recibir los datos personales que el usuario, haya
    facilitado, en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos
    a otro responsable.
</p>
<p>
    • Derecho de Oposición: Es el derecho del usuario a que no se lleve a cabo el tratamiento
    de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de
    la APP
</p>

@code {

}
