@layout WebsiteLayout
@page "/Privacy"
<h3>Política de Privacidad</h3>
<h4>Datos del propietario de la web:</h4>
<h4>Tratamientos realizados.</h4>
<h4>1. Información que recopilamos.</h4>
<h4>2. Uso de la información recopilados.</h4>
<h3>3. Protección de la información.</h3>
<h4>4. Divulgaci´ñon de información a terceros.</h4>
<h4>5. Cambios en esta política de privacidad.</h4>
<h4>6. Aceptación de los términos.</h4>
<h4>7. Derechos de los interesados.</h4>
<p>VALKIAN TECHNOLOGIES, S.L. informa a los Usuarios que, podrá ejercer los derechos de acceso, rectificación, limitación, supresión, portabilidad y oposición al tratamiento de sus datos de carácter personal ante el responsable del Tratamiento, así como a la retirada del consentimiento prestado.</p>
<p>• Derecho de Acceso: Es el derecho del usuario a obtener información sobre sus datos concretos de carácter personal y del tratamiento que se haya realizado o realice, así como de la información disponible sobre el origen de dichos datos y las comunicaciones realizadas o previstas de los mismos.</p>
<p>• Derecho de Rectificación: Es el derecho del afectado a que se modifiquen los datos que resulten ser inexactos o incompletos. Sólo podrá satisfacerse en relación a aquella información que se encuentre bajo el control de la APP, por ejemplo, eliminar comentarios publicados en la propia página, imágenes o contenidos web donde consten datos de carácter personal del usuario.</p>
<p>• Derecho a la Limitación de tratamiento: Es el derecho a que se limiten los fines del tratamiento previstos de forma original por el responsable del tratamiento.</p>
<p>• Derecho de Supresión: Es el derecho a suprimir los datos de carácter personal del usuario, a excepción de lo previsto en el propio RGPD o en otras normativas aplicables.</p>
<p>• Derecho de portabilidad: El derecho a recibir los datos personales que el usuario, haya facilitado, en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable.</p>
<p>• Derecho de Oposición: Es el derecho del usuario a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de la APP.</p>

@code {

}
