@page "/Testimonial"
@inject IStringLocalizer<Resources.Resource> L
<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <h4 class="text-primary">@L["Testimonial"]</h4>
            <h1 class="display-5 mb-4">@L["What Our Client Say About Us"]</h1>
            <p class="mb-0">
                @L["Testimonios reales"]
            </p>
        </div>
        <div class="testimonial-carousel owl-carousel wow zoomInDown" data-wow-delay="0.1s">
            <div class="testimonial-item" data-dot="<img class='img-fluid' src='/img/testimonios/amou.png' alt=''>">
                <div class="testimonial-inner text-center p-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
                            <img src="/img/testimonios/amou.png" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div>
                            <h5 class="mb-2">A. Mou</h5>
                            <p class="mb-0">Madrid, España</p>
                        </div>
                    </div>
                    <p class="fs-7">
                        Excelente profesional y mejor compañero de trabajo. Ha sido muy enriquecedor compartir con él una de las
                        tareas más gratas: formar y dotar a los empleados de herramientas para hacer frente a los retos de la digitalización.
                    </p>
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item" data-dot="<img class='img-fluid' src='/img/testimonios/gpais.png' alt=''>">
                <div class="testimonial-inner text-center p-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
                            <img src="/img/testimonios/gpais.png" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div>
                            <h5 class="mb-2">G. Pais</h5>
                            <p class="mb-0">Algeciras, España</p>
                        </div>
                    </div>
                    <p class="fs-7">
                        Guillermo is a high skilled professional in SQL Server administration and automation. He mixes his knowledge in T-SQL, PowerShell and administration and just makes his magic.<br />
                        Additionally, he has high knowledge of management, he is serious and compromissed which makes him even more interesting.<br />
                        It was a pleasure working with him and learn new things.
                    </p>
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
@code {

}
