@layout WebsiteLayout
@page "/Vision"
<h3 class="text-primary">Vision</h3>
<h5>Convertir los datos en información, la información en conocimiento y el conocimiento en ventajas competitivas.</h5>
<h3 class="text-primary">Misión</h3>
<h5>Proteger la información de nuestros clientes.</h5>
<h5>Ayudar a nuestros clientes a integrar sus procesos.</h5>
<h5>Proporcionar a nuestros clientes las herramientas necesarias para enriquecer el valor de su información.</h5>
<h5>Ayudar a nuestros clientes a utilizar la tecnología para lograr ventajas competitivas.</h5>
<h5>Mantenernos punteros en tecnologías, y metodologíasProteger la información de nuestros clientes.</h5>
<h3 class="text-primary">Filosofía</h3>
<h5>Honestidad, Seriedad y Humildad.</h5>
<h5>Cuidaremos la información de nuestros clientes como si fuera nuestra.</h5>
<h5>Reconoceremos cuando nos equivoquemos.</h5>
<h5>Se reconocerá a cada miembro del equipo el trabajo realizado.</h5>
<h5>Respetaremos a nuestros empleados, partners, clientes y proveedores con independencia de su origen, etnicidad, religión o ideas políticas.</h5>
<h5>Se utilizará ITIL como forma de conseguir un servicio de calidad y confiable.</h5>
<h5>Nuestros socios y empleados están repartidos por el mundo y trabajaremos para hacer el trabajo y la comunicación más fácil.</h5>
<h5>Se evitará el lenguaje ofensivo incluso con nuestros competidores y adversarios.</h5>















@code {

}
